/* ----- INDEX -----
- CSS RESET
- GENERAL HELPER CLASSES
- UNIVERSAL STYLES
  - Layout
  - Typography
  - General Styles
- HEADER & FOOTER
- MODULAR ELEMENTS
  - Element NAme
- FORMS

----------------------------
Website Fonts:

Website Colors:

----------------------------

 */

/* ----- CCSS RESET ----- */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color:#172727;
  text-decoration: none;
}

[class*=grid]{
  margin:0;
}

[class*=col-], [class^=col]{
  padding:0;
}


/* ----- GENERAL HELPER CLASSES ----- */
.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

.padded{
  padding:5%;
}

.scale-text{
  overflow: hidden;
}

.scale-text:hover h2, .scale-text:hover h3{
  transform:scale(1.06);
}

/* -- H2 Countries and Posts Page--*/
.countries .posts h2{
  text-align: center;
  padding-top: 6%;
  padding-bottom: 0%;
}

/* ----- UNIVERSAL STYLES ----- */

/*body{
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #172727;
}*/

h1, h2{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size:40px;
  padding: 2% 10%;
  background-color: rgba(255, 255, 255, .6);
}

h1{
  font-size: 60px;
  text-transform: uppercase;
}

h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .6);
  padding:15px;
}

.padd-sec{
  padding: 5% 10%;
  padding-top: 2%;
}

section div{
  text-align: center;
}

/* ----- HOMEPAGE - POST SECTION -----*/
.post-background{
  min-height: 30vh;
  background-size: cover;
  background-position: 10% 58%;
  margin-bottom: 5%;
}

.posts a:nth-child(1) {
  max-width: 33.33%!important;
}
.posts a:nth-child(2) {
  max-width: 25%!important;
}
.posts a:nth-child(3) {
  max-width: 33.33%!important;
}
.posts a:nth-child(4) {
  max-width: 25%!important;
}
.posts a:nth-child(5) {
  max-width: 41.66%!important;
}
.posts a:nth-child(6) {
  max-width: 25%!important;
}

/* ----- HOMEPAGE - COUNTRIES SECTION -----*/
/*.country-background {
  background-image: url('/images/Chimp.png');
  min-height: 25vh;
  background-size:cover;
  background-position: 50% 50%;
  padding:5% 3%;
  margin:1% 0%;
}*/

.countries a:nth-child(1) {
  max-width: 33.33%!important;
}
.countries a:nth-child(2) {
  max-width: 25%!important;
}
.countries a:nth-child(3) {
  max-width: 33.33%!important;
}
.countries a:nth-child(4) {
  max-width: 25%!important;
}
.countries a:nth-child(5) {
  max-width: 41.66%!important;
}
.countries a:nth-child(6) {
  max-width: 25%!important;
}

/* ----- HOMEPAGE - MAP SECTION -----*/
.map{
  width:100%;
  height:100%;
  display:block;
}

.map img{
  max-width: 85%;
}

/* ----- HEADER & FOOTER ----- */

.header{
  padding: 1%;
  position:fixed;
  width: 100%;
  top: 0;
  background-color: white;
  /*border-bottom: 1.5px solid black;*/
  box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
  z-index: 5000;
}
.index-header{
  background-color: transparent;
}

.banner{
background-image: url("/images/Ugandascene.png");
padding-top: 20vh;
min-height: 60vh;
background-size: cover;
background-position: 51% 15%;
opacity: 0.95;
position:relative;
z-index:5000;
}

/*.header .active{
  background-color: rgba(255, 255, 255, 0);
}*/

.active { background-color: #fff}


nav{
  color: #172727;
  display: block;
  text-align: right;
  font-family: 'Roboto', sans-serif;

}

nav a{
  padding: 4%;
  align-items: flex-end;
  justify-content: flex-end;
  font-size:20px;
}

nav span{
  border-left: 1px solid #172727;

}

footer{
  background-color: #505055;
  padding:0vh 15%;
  text-align: center;
  margin-top:-4px;
}

footer h2{
  display:inline-block;
  background:none;
  color:white;
}

footer h3{
  background-color: rgba(80, 80, 85, 0.5);
  padding: 15px;
  color: white;
}

/*--- only padding on footer with direct child of div---*/
footer > div{
  padding:6% 0 1% 0;
}

/* --- SVG --- */
div{
  position:relative;
}
.rel{
  position:relative;
}
svg{
  position:absolute;
  top:0;
  right:0;
  width:100%;
}
.blue-triangle{
  fill:#5196c1;
  stroke-width:0;
}
polygon{
  fill:white;
  stroke:white;
  stroke-width:0.1;
}

/* --- End SVG --- */


form{
  width:100%;
  padding:12px 20px;
  margin: 8px 0;
  box-sizing:border-box;
  color: white;
  text-align:center;

}

input, textarea{
  width:100%;
  margin:1% 0;
  padding:1%;
}

input[type="submit" i]{
  width:25%;
  margin:2%;
  background-color: white;

}

/*footer img{
  max-width:80%;
  height:auto;
  border-radius:50%;
}*/

footer p{
  padding:10% 10%;
  margin:15% 15%;
  color:white;
}

.AboutFooter{
  background-image: url("/images/AboutFooter.png");
  background-size: cover;
  height:17.5vw;
  border-radius:50%;
  max-width: 50%;
  margin: 5px auto 30px auto;
}
/* ----- HOMEPAGE - BODY INDEX ------*/

.IOCCoding{
  background-image: url("/images/Bali.png");
}

.Ugandapic{
  background-image: url("/images/Uganda.png");
}

.GreenLake{
    background-image: url("/images/GreenLake.png");
}

.WalkingPathVienna{
  background-image:url("/images/WalkingPathVienna.png");
}

.GaudiBarcelona{
  background-image: url("/images/GaudiBarcelona.png");
}

.Mallorcapic{
  background-image: url("/images/Mallorca.png")
}

/* ----- CSS for ABOUT -----*/
/* ----- HEADER -----*/
.about {
  background-image: url("/images/About.png");
  padding-top: 10vh;
  width: 100%;
  min-height:60vh;
  background-size: cover;
  background-position: 50% 68%;
}

/* ----- BODY ----- */
div.about-text-left{
  width: 20%;
  height: 20%;
  padding-left: 15%;
}

.offsetpic1{
  position:relative;
  top:20%;
  right:28%;
  max-width: 80%;
  height:auto;
  z-index: -1;
}

div.about-text-right{
  width: 20%;
  height: 20%;
  padding-left: 5%;
  padding-right:10%;
  padding-top:12%;
}

.offsetpic2{
  position:relative;
  left:10%;
  top:1%;
  max-width:80%;
  height:auto;
  z-index:2;
}

p.padded{
  border:1px solid black;
}

/* --- Quote --- */
.quote{
  max-width: 100%;
  background-color: #5196c1;
  margin:0%;
  padding:5%;

}

.quote h3{
  background-color: white;
}
/* --- End Quote --- */

section.padded{
  padding-top: 5%;
  padding-left: 10%;
  padding-right:10%;
  padding-bottom: 0;
}

div.quote{
  font-style: italic;
  padding: 5% 23%;
}

/* ----- CSS for COUNTRIES ------*/
/* ----- HEADER -----*/
.overview h2{
  padding:5%;
  padding-bottom: 0;
}

/* ----- BODY -----*/
.country-background{
  min-height: 25vh;
  background-size:cover;
  background-position: 50% 50%;
  margin-bottom:5%;
  margin:1% 0%;
}

.country-background h3{
  font-family: 'Indie Flower', cursive;
}

.CountryIndonesia{
  background-image: url("/images/Indonesia.png");
}

.CountryThailand{
  background-image: url("/images/Thailand.png");
}

.CountryAustria{
    background-image: url("/images/Austria.png");
}

.CountryUganda{
  background-image:url("/images/UgandaCountry.png");
}

.CountryCroatia{
  background-image: url("/images/Croatia.png");
}

.CountryCzech{
  background-image: url("/images/CzechRepublic.png");
}

/* ----- CSS for POSTPAGE ----- */
section.postpage{
  margin: 0%;
  padding:7%;
}

/* -- Banner -- */
.post-banner {
  /*background-image: url("/images/Bali.png");*/
  padding-top: 0vh;
  width: 100%;
  min-height:60vh;
  background-size: cover;
  background-position: 50% 55%;
}

.postpage h2{
  font-size: 30px
}

.postpage p{
  margin:40px;
  padding-top:0;
}

.postpage img{
  padding:4px;
}

.imagegallery{
  background-size: cover;
  min-height: 26.94vw;
  margin: 1vw 1vw 1vw 1vw;
  background-position: center;
  max-width: 32% !important;
}



/*.postpage div.sidebar{
  border:1px solid black;
}*/

/* ----- MODULAR ELEMENTS -----*/

/* ----- FORMS ----- */


/* index*/
