/* ----- INDEX -----
- CSS RESET
- GENERAL HELPER CLASSES
- UNIVERSAL STYLES
  - Layout
  - Typography
  - General Styles
- HEADER & FOOTER
- MODULAR ELEMENTS
  - Element NAme
- FORMS

----------------------------
Website Fonts:

Website Colors:

----------------------------

 */

/* ----- CCSS RESET ----- */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color:#172727;
  text-decoration: none;
}

[class*=grid]{
  margin:0;
}

[class*=col-], [class^=col]{
  padding:0;
}





/* ----- GENERAL HELPER CLASSES ----- */

.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

.padded{
  padding:5%;
}

/* ----- UNIVERSAL STYLES ----- */

/*body{
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #172727;
}*/

h1, h2{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size:40px;
  padding: 2%;
  background-color: rgba(255, 255, 255, .6);
}

h1{
  font-size: 60px;
  text-transform: uppercase;
}

h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .6);
  padding:15px;
}

.padd-sec{
  padding: 5% 10%;
}

section div{
  text-align: center;
}

/* ----- POST SECTION -----*/
.post-background{
  min-height: 30vh;
  background-size: cover;
  background-position: 10% 58%;
  margin-bottom: 5%;
}

.posts .post-background:nth-child(3n+2){
  margin-right:1px;
  margin-left: 1px;
}

/* ----- COUNTRIES SECTION -----*/
.countries h2{
  text-align: center;
}

.country-background{
  background-image: url('/images/Chimp.png');
  min-height: 25vh;
  background-size:cover;
  background-position: 50% 50%;
}

/* ----- MAP SECTION -----*/
.map{
  width:100%;
  height:100%;
  display:block;
  border: 2px solid grey;
}

.map img{
  max-width: 85%;
}

/* ----- HEADER & FOOTER ----- */

header{
  padding: 1%;
  position:fixed;
  width: 100%;
  top: 0;
  background-color: white;
  /*border-bottom: 1.5px solid black;*/
  box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
  z-index: 99;
}

.banner{
background-image: url("/images/Ugandascene.png");
padding-top: 20vh;
min-height: 60vh;
background-size: cover;
background-position: 51% 15%;
opacity: 0.95;
}

nav{
  color: #172727;
  display: block;
  text-align: right;
  font-family: 'Roboto', sans-serif;

}

nav a{
  padding: 4%;
  align-items: flex-end;
  justify-content: flex-end;
  font-size:20px;
}

nav span{
  border-left: 1px solid #172727;

}

.IOCCoding{
  background-image: url("/images/Bali.png");
}

.Ugandapic{
  background-image: url("/images/Uganda.png");
}

.GreenLake{
    background-image: url("/images/GreenLake.png");
}

.WalkingPathVienna{
  background-image:url("/images/WalkingPathVienna.png");
}

.GaudiBarcelona{
  background-image: url("/images/GaudiBarcelona.png");
}

.Mallorcapic{
  background-image: url("/images/Mallorca.png")
}


footer{
  background-color: #505055;
  padding:4vh 10%;
  text-align: center;
}

footer h2{
  display:inline-block;
  background:none;
  color:white;
}

form{
  width:100%;
  padding:12px 20px;
  margin: 8px 0;
  box-sizing:border-box;
  color: white;
  text-align:center;

}

input, textarea{
  width:100%;
  margin:1% 0;
  padding:1%;
}

input[type="submit" i]{
  width:25%;
  margin:2%;
  background-color: white;

}


/* ----- CSS for ABOUT -----*/
/* ----- HEADER -----*/
h1.about{
  background-image: url("/images/About.png");
  padding-top: 20vh;
  width: 100%;
  min-height:60vh;
  background-size: cover;
  background-position: 50% 55%;
}

/* ----- BODY ----- */


div.about-text-left{
  width: 20%;
  height: 20%;
  padding-left: 15%;
}

.offsetpic1{
  position:relative;
  top:20%;
  right:28%;
  max-width: 80%;
  height:auto;
  z-index: -1;
}

div.about-text-right{
  width: 20%;
  height: 20%;
  padding-left: 5%;
  padding-right:10%;
  padding-top:12%;
}

.offsetpic2{
  position:relative;
  left:10%;
  max-width:80%;
  height:auto;
  z-index:2;
}

p.padded{
  border:1px solid black;
}

.quote{
  max-width: 100%;
  background-color: #5196c1;
  margin:0%;
  padding:5%;

}


section.padded{
  padding-top: 5%;
  padding-left: 10%;
  padding-right:10%;
  padding-bottom: 0;
}

div.quote{
  font-style: italic;
}

/* ----- MODULAR ELEMENTS -----*/

/* ----- FORMS ----- */


/* index*/
