---
layout: default
title: TBW
banner: true
posts:
  - title: IOC Bali
    class: IOCCoding
    col-width: 3
  - title: Safari Uganda
    class: Ugandapic
    col-width: 4
  - title: Green Lake Styria
    class: GreenLake
    col-width: 3
  - title: Walking Path Vienna
    class: WalkingPathVienna
    col-width: 4
  - title: Barcelona
    class: GaudiBarcelona
    col-width: 3
  - title: Almond Blossom Mallorca
    class: Mallorcapic
    col-width: 4
countries:
  - title: Indonesia
    image: /images/Indonesia.png
  - title: Thailand
    image: /images/Thailand.png
  - title: Uganda
    image: /images/UgandaCountry.png
  - title: Austria
    image: /images/Austria.png
  - title: Czech Republic
    image: /images/CzechRepublic.png
  - title: Croatia
    image: /images/Croatia.png
---
    <div class="flex-center">
      <div>
        <h1>Thebackpackway</h1>
        <h2>- Subtitle</h2>
      </div>
    </div>
  </section>

  

  <section class="grid-spaceBetween posts padd-sec">
    {% for post in page.posts %}
    <div class="post-background {{ post.class }} col-{{ post.col-width }}">
      <h2>
        <a href="/...">{{ post.title }}</a>
      </h2>
    </div>
    {% endfor %}
  </section>

  <section class="countries">
    <h2>Countries</h2>
    <div class="grid">
      {% for country in page.countries %}
      <div class="country-background col-2" style="background-image:url('{{ country.image }}')">
        <h3>
          <a href="/...">{{ country.title }}</a>
        </h3>
      </div>
      {% endfor %}
    </div>
  </section>

    <section class="map">
      <!-- Map with hover and country names with href-->
      <div>
        <img src="/images/Map.png"
      </div>
    </section>
