---
layout: default

---

<section class="postpage">
    <div>
        <div class="post-banner flex-center post-content" style="background-image: url('{{page.bannerimage}}')">
          <div>
            <h1> {{ page.posttitle }} </h1>
            <h2> {{page.postsubtitle}} </h2>
          </div>
        </div>
      <section>
        <div>
          <p>
            {{page.postcontent}}
          </p>
        </div>
        <div class="grid">
        {% for postimage in page.postimages %}
          <div class="col-3  imagegallery" style="background-image: url('{{postimage.url}}')">
          </div>
        {% endfor %}
        </div>
      </section>
    </div>
</section>
