<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Montserrat:400,700|Josefin+Sans:400,600,700" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title> {{page.title}} </title>
  <link rel="shortcut icon" href=".ico">
  <link rel="shortcut icon" href="/images/TBW_favicon.png">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<!---{% if page.banner == true %}
<section class="banner {{page.banner-class}}">
{% endif %}--->
<section>
  <header class="header {{page.header-class}} grid-spaceBetween-middle">
    <div class="navigation">
      <nav class="col-4 menu">
        <ul class="active-nav">
          <li class="current-item">
            <a href="/index.html">Home</a>
          </li>
          <li>
            <a href="/about.html">About</a>
          </li>
          <li>
            <a href="/austria.html">Austria</a>
          </li>
          <li>
            <a href="/world.html">& the World</a>
          </li>
          <li>
            <a href="sustainability.html">Sustainability</a>
          </li>
        </ul>
        <a class="toggle-nav" href="#">&#9776;</a>
      </nav>
    </div>


    <!-- /*how do i write a search field?*/ -->
  </header>


{{content}}


  <footer class="footer">
      <div class="grid rel">
        <svg class="svg svg-mobile" viewBox="0 0 100 5">
          <polygon class="{{page.svg-class}}" points="40,0 50,5 60,0"></polygon>
        </svg>
        <div class="col-6">
          <div>
            <a href="/about.html">
              <div class="AboutFooter flex-center">
                <h3>Learn more about me.</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="col-6 getintouch">
          <p>If you wander how I got started with thebackpackway and what motivates me keeping it up take a look at my about page.<br/>You can also get in touch with me via mail or Instagram.</p>
          <div>
            <a href="mailto:Julia@thebackpackway.com" class="fa fa-envelope"></a>
            <a href="https://www.instagram.com/thebackpackway/" class="fa fa-instagram"></a>
          </div>
        </div>
      </div>
  </footer>




  <!-- SnapWidget -->
    <section>
          <iframe src="https://snapwidget.com/embed/380401" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:200px"></iframe>
    </section>
    <section class="copyright">
      <p>
        Copyright 2017 Julia Lipold | <a href="index.html">Impressum</a>  </p>
    </section>

  <script src="https://use.fontawesome.com/36e8a382f6.js"></script>

<!----- jQuery Library --->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/typed.js"></script>
  <script src="/js/main.js"></script>


</body>



</html>
