<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <title> {{page.title}} </title>
  <link rel="shortcut icon" href=".ico">
  <link rel="shortcut icon" href="/images/TBW_favicon.png">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
{% if page.banner == true %}
<section class="banner {{page.banner-class}}">
{% endif %}
  <header class="header {{page.header-class}} grid-spaceBetween-middle">
    <div>
      <a href="/index.html"><img class="col-4" src="/images/TBW_favicon.png"></a>
    </div>
    <nav class="col-4">
      <span></span>
      <a href="/about">About</a>
      <span></span>
      <a href="/posts-overview">Posts</a>
      <span></span>
      <a href="/countries-overview
      ">Countries</a>
      <span></span>
      <a href="/travel-hacks">Travel Hacks</a>
    </nav>
    <!-- /*how do i write a search fiels?*/ -->
  </header>


{{content}}


  <footer>
      <div class="grid rel">
        <svg class="svg" viewBox="0 0 100 5">
          <polygon class="{{page.svg-class}}" points="40,0 50,5 60,0"></polygon>
        </svg>

        <div class="col-6">
          <h2>Get in touch</h2>
          <form>
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Enter your name"></input>
          <label for="e-mail">E-Mail</label>
          <input type="text" name="e-mail" placeholder="Enter your E-Mail"></input>
          <label for="message">Message</label>
          <textarea name="message" placeholder="Message" class="col-12"></textarea>
          <input type="submit" value="Send"></input>
          </form>
        </div>
          </svg>
        <div class="col-6">
          <h2>Hello!</h2>
          <div>
            <a href="/about.html">
              <div class="AboutFooter flex-center">
                <h3>Learn more about me. ;)</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
  </footer>

  <!-- SnapWidget -->
    <section>
          <iframe src="https://snapwidget.com/embed/380401" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:200px"></iframe>
    </section>

  <script src="https://use.fontawesome.com/36e8a382f6.js"></script>

<!----- jQuery Library --->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/typed.js"></script>
  <script src="/js/main.js"></script>


</body>



</html>
