<!DOCTYPE html>
<html>
<head>
  <script src="https://use.fontawesome.com/36e8a382f6.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <title> {{page.title}} </title>
  <link rel="shortcut icon" href=".ico">
  <link rel="shortcut icon" href="/images/TBW_favicon.png">
  <link href="css/main.css" rel="stylesheet" type="text/css">

</head>

</html>
